.features {
  padding: 0;
}

.features__item {
  list-style-type: none;
}

.features__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  list-style-type: none;
}

.features__subtitle {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

@media (min-width: @tablet-width) {
  .features {
    display: grid;
    grid-template-columns: 256px 256px 256px;
  }

  .features__title {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .features {
    grid-template-columns: 400px 400px 400px;
  }
}
