.main-nav__link {
  color: #FFFFFF;
  background-color: #81B3D2;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-nav__item {
  list-style: none;
}
