.main-form {
  width: 87.5%;
  margin: auto;
}

.main-form__name-item {
  list-style: none;
}

.main-form__contact-item {
  list-style: none;
}

.main-form__name-item input {
  width: 100%;
  padding: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border: none;
  box-sizing: border-box;
}

.main-form__contact-item input {
  width: 100%;
  padding: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(242, 242, 242, 1);
  border: none;
  box-sizing: border-box;
}

.main-form__contact-item:not(:last-child) {
  margin-bottom: 16px;
}

.main-form__item {
  padding: 0;
  margin: 0;
  border-style: none;
}

.main-form__item label {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}

.main-form__impression {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  border-style: none;
}

.main-form__impression label:not(:last-child) {
  margin-bottom: 16px;
}

.main-form__place label:not(:last-child) {
  margin-bottom: 16px;
}

.main-form__send {
  display: block;
  margin: auto;
  padding: 18px 34px 13px 32px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  border-style: none;
}

.main-form__notes {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
}

.main-form__name-list {
  padding: 0;
  margin: 0;
}

.main-form__contact-list {
  padding: 0;
  margin: 0;
}

.main-form__name-item label {
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.main-form__contact-item label {
  padding-left: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.main-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.main-form__textarea {
  padding: 0;
  width: 100%;
  background-color: rgba(242, 242, 242, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  border-style: none;
}

.main-form__send-wrapper {
  display: block;
  margin-top: 56px;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .main-form {
    margin: auto auto 64px auto;
  }

  .main-form__wrapper {
    margin: 0;
  }

  .main-form__title {
    font-size: 21px;
    margin: 0 0 28px 0;
  }

  .main-form__container {
    display: flex;
    justify-content: space-between;
    margin: auto auto 48px auto;
    width: 100%;
  }

  .main-form__container .main-form__item {
    width: 43%;
  }

  .main-form__impression {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 88%;
    margin: 0 auto 48px auto;
  }

  .main-form__place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 74%;
    margin: 0 auto 42px auto;
  }

  .main-form__textarea {
    height: 160px;
    margin-bottom: 48px;
  }

  .main-form__notes {
    font-size: 14px;
    line-height: 21px;
  }

  .main-form__title-center {
    grid-column: 1 / 3;
  }

  .main-form__send-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto 0 auto;
  }

  .main-form__send {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-form__container {
    width: 960px;
    grid-template-columns: 480px 480px;
  }

  .main-form__impression {
    width: 960px;
    grid-template-columns: 320px 320px 320px;

    .main-form__title-center {
      grid-column: 1 / 4;
    }
  }

  .main-form__place {
    width: 960px;
    grid-template-columns: 240px 240px 240px 240px;

    .main-form__title-center {
      grid-column: 1 / 5;
    }
  }

  .main-form__textarea {
    display: block;
    width: 64%;
    margin: auto auto 48px auto;
  }

  .main-form__send-wrapper {
    width: 64%;
    margin: auto;
  }
}
