.main-form__name-item {
  list-style: none;
}

.main-form__contact-item {
  list-style: none;
}

.main-form__name-item input {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border-style: none;
}

.main-form__contact-item input {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(242, 242, 242, 1);
  border-style: none;
}

.main-form__item {
  padding: 0;
  margin: 0;
  border-style: none;
}

.main-form__item label {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
}

.main-form__impression {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  border-style: none;
}

.main-form__send {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  border-style: none;
}

.main-form__notes {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}

.main-form__wrapper {
  margin: 0 20px;
  box-sizing: border-box;
}

.main-form__name-list {
  padding:0;
  margin: 0;
}

.main-form__contact-list {
  padding:0;
  margin: 0;
}

.main-form__name-item label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.main-form__contact-item label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.main-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.main-form__textarea {
  background-color: rgba(242, 242, 242, 1);
}
