.main-nav__link {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.main-nav__item {
  list-style: none;
}
