.map {
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}

@media (min-width: @tablet-width) {
  .map {
    background-image: url("../img/map-tab.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .map {
    width: 1200px;
    margin: auto;
    background-image: url("../img/map-desk.jpg");
    height: 350px;
  }
}
