.preview {
  position: relative;
  height: 389px;
  background-image: url("../img/preview-mobile.jpg");
  background-color: rgba(125, 129, 138, 1);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  z-index: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/preview-mobile-x2.jpg");
  }
}

.vector-lettering {
  width: 100%;
  height: 100%;
}

.preview-catalog::before {
  display: block;
  content: "";
  overflow: hidden;
}

.preview::before {
  display: block;
  content: "";
  overflow: hidden;
}

.preview__lettering {
  display: block;
  width: 282px;
  height: 214px;
  background-repeat: no-repeat;
  margin: 90px auto auto auto;
  z-index: 2;
}

.preview-catalog__lettering-inner {
  display: block;
  width: 229px;
  background-repeat: no-repeat;
  margin: 56px auto auto auto;
}

.preview-catalog {
  position: relative;
  height: 158px;
  display: block;
  margin-bottom: 34px;
  background-image: url("../img/preview.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  width: 100%;
}

.preview-catalog__decor {
  height: 56px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.preview__decor {
  height: 56px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

@media (min-width: @tablet-width) {
  .preview {
    background-image: url("../img/preview.jpg");
    background-position: 50% 100%;
    width: 100%;
    height: 518px;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/preview-x2.jpg");
    }
  }

  .preview__lettering {
    display: block;
    width: 461px;
    height: 350px;
    background-repeat: no-repeat;
    margin: 77px auto auto auto;
    z-index: 2;
  }

  .preview-catalog__lettering-inner {
    width: 457px;
    margin-top: 95px;
  }

  .preview-catalog {
    background-size: auto;
    height: 290px;
  }
}

@media (min-width: @desktop-width) {
  .preview {
    background-image: url("../img/preview-x2.jpg");
    background-position: 50% 100%;
    width: 1200px;
    height: 518px;
  }

  .preview__catalog {
    background-size: auto;
    height: 301px;
  }
}
