.preview-form__image {
  display: block;
  background-image: url("../img/preview-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 158px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/preview-mobile-x2.jpg");
  }
}

.preview-form__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

.preview-form__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

@media (min-width: @tablet-width) {
  .preview-form__image {
    display: block;
    margin-bottom: 64px;
    background-image: url("../img/preview.jpg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: auto;
    width: 100%;
    height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/preview-x2.jpg");
    }
  }

  .preview-form {
    margin-bottom: 102px;
  }

  .preview-form__title {
    font-size: 30px;
    line-height: 26px;
  }

  .preview-form__subtitle {
    width: 435px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .preview-form {
    margin: auto auto 66px auto;
  }

  .preview-form__image {
    display: block;
    background-image: url("../img/preview.jpg");
    background-repeat: no-repeat;
    width: 1200px;
    height: 301px;
    margin: auto;
  }

  .preview-form__title {
    margin-top: 115px;
  }
}
