.search {
  text-align: center;
}

.search__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.search__subtitle {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 1);
}

.search__button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(129, 179, 210, 1);
}
